* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000;
}

a{
  text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #25D366;
    color: #fff;
}

header h1 {
    font-size: 1.5rem;
}

.search-bar {
    display: flex;
    padding: 10px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 85%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    
    background-color: #f1f1f1;
}

.send-button {
    background-color: #25D366;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 8px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #20b558;
}

main {
    padding: 10px;
}

.chat {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info h2 {
    font-size: 1rem;
    margin-bottom: 4px;
}

.chat-info p {
    font-size: 0.9rem;
    color: #555;
}

.time {
    margin-left: auto;
    font-size: 0.8rem;
    color: #999;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
}

.footer-icon {
    color: #999;
    font-size: 0.9rem;
}

.footer-icon.active {
    color: #25D366;
    font-weight: bold;
}
